header{
    position:'relative';
    background-color: rgb(0,0,0);
}
header h1,header p{
    color:white;
}
header p{
    font-size:0.5em;
}

.nav-principal{
    width:90%;
    display:flex;
    flex-direction: column;
    align-items:center;
    /* margin-top: 40px; */
    margin-left: 65px;
}

.center{
    width:90%;
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 40px;
    margin-left: 60px;
}


.text{
    width:70%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
header .text h1{
    font-size:2.2em;
}
header .text .linea{
    margin:auto;
    display:block;
    width:20%;
    height:3px;
    background-color:rgb(255,200,0);
}
header:hover .text .linea{
    width:40%;
}
header .center h1{
    text-align:center;
}
header:hover .stars svg{
    transform:rotate(180deg);
}
.modalCopy{
    font-size:0.3em;
    padding:5px;
    color:black;
    background:rgb(255,200,0);
    border-radius:20px;
    position:relative;
    margin-left:20px;
}
.modalCopy svg{
    margin-right:5px;
}
.right{
    position:'relative';
}
.count{
    display:block;
    width:10px;
    height:10px;
    background-color: rgb(255,200,0);
    border-radius:100px;
    position:'absolute';
    top:20px;
}
nav{
  margin-top:30px;
}
nav a{
  color:white;
  padding:10px;
  font-size:1em;
  text-decoration:none;
}
nav a:hover{
    color:rgb(255,200,0);
}
.btn{
    margin-left:40px;
    display:block;
    width:100px;
    height:45px;
    font-size:1em;
    font-weight:bold;
    background-color:rgb(255,200,0);
    border:none;
    border-radius:3px;
    position:relative;
    overflow: hidden;
    cursor: pointer;
}
.subbtn{
    display:block;
    content:" ";
    width:200%;
    height:200%;
    background-color:rgb(0,0,0);
    left:500px;
    top:0;
    position:absolute;

}
.btn span{
    color:black;
    position:relative;
    z-index:3;
}
.btn:hover{
    border:0.3px solid white;
}
.btn:hover span{
    color:rgb(255,200,0);
}
.btn:hover .subbtn{
    left:0px;
}

.title-principal{
    color:rgb(255,200,0);
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top: 20px;
}

.nav-segundario{
    width:90%;
    position: relative;
    align-items:center;
    /* margin-top: 40px; */
    right: 0px;
    left: 300px;
    bottom: 10px;
}