/*body {
    padding-top: 48px;
    color: #5a5a5a;
  }*/

/*INICIO*/

/*Carousel*/
.carousel-item::before{
  content:"";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:#000;
  opacity: 0.5;
}

/*Estilo del logo*/
.logo {
  max-height: 100%;
  max-width: 100%;
  width: 160px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*.bg-1{
  background-repeat: no-repeat;
  background-size: 100%;

}*/

/*Contenedor seccion presentacion*/
.contenedor{
  position: relative;
  display: inline-block;
  text-align: center;
}

/*Centrar el titulo*/
.titulo-centrado{
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 3vw;
}

/*Texxto centrado*/
.texto-centrado{
  position: absolute;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 2.5vw;
}

/*Contenedor imagen*/
.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*SERVICIOS*/

.bg-2{

  background-image: url("../../../images/salon.jpg");
  background-attachment: scroll;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	background-origin: initial;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}

.bg-2::before {
  background:  #080808b2;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.3;
}

*{
  transition:200ms;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body {
  /*Diseño gráfico al contenido que esta dentro del body*/
    /*El padding-top establece el espacio de relleno requerido en la parte superior del elemento.*/
    color: #525252;
  }
.sup{
  height:24vh;
  padding: 10px;
  margin-bottom:70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.logos{
  height:100%;
  display:inline-flex;
  padding:0px 10px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:rgb(200, 23, 22);
}
.logos i{
  color:white;
  padding:10px 0px;
  font-size:1.5em;
  cursor:pointer;
}
.logos i:hover{
  font-size:1.8em;
}
.sup h2{
  font-size:4em;
  padding-left:20px;
  color:#310101;
  font-family: 'Roboto Condensed';
  font-weight: bold;
}
.description{
  padding:0px 20px;
}
.description .left,.description .right{
  width:100%;
}
.cuadricula{
  width:90%;
  margin:30px auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-wrap: wrap;
}
.cuadricula .card-me{
  position:relative;
  width:45%;
  background:rgb(20, 20, 20,0.1);
  border-radius:4px;
  margin:20px 0px;
  overflow:hidden;
}
.card-me *{
  color:rgba(0,0,0,0.8);
}
.card-me .left{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
  background-color:rgb(200, 23, 22);
}
.card-me .right{
  padding:10px;
  cursor:pointer;
  transform:scaleX(-1);
  opacity:0;
  width:100%;
  height:100%;
}
.card-me .right h3{
  color:rgb(250, 0, 22);
  text-align:center;
  font-size:1.5em;
}
.card-me .right p{
  width:90%;
  margin:auto;
  text-align: center;
}
.card-me .right button{
  display:inline-block;
  margin:10px auto;
  color:white;
  background-color:rgb(200, 23, 22);;
  border:none;
  border-radius:4px;
  padding:10px 20px;
  cursor:pointer;
}
.right button:hover{
  color:white;
  background-color:rgb(250, 0, 22);;
}
.card-me:hover {
  transform:scaleX(-1);
}
.card-me:hover .right{
  opacity:1;
}
.card-me:hover .left{
  display:none;
}
.card-me .left img{
  object-fit:cover;
  border-radius:4px;
  height:90%;
  width:90%;
}
.card-me .left .text{
  z-index:3px;
  position:absolute;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:2em;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.2);
}
.card-me .left button a{
  text-decoration:none;
  color:white;
  font-weight:bold;
}
@media(max-width:480px){
  *{
    margin: 0px;
    padding:0px;
  }
  .sub-header .sup{
    width:100%;
    flex-direction: column;
  }
  .logos{
    flex-direction: row;
    width:100%;
    height:40px;
    padding:10px 50px;
    justify-content:space-between;
  }
  .description{
    width:100%;
    flex-direction:column;
  }
  .description .card-me{
    width:90%;
  }
  .cuadricula{
    width:100vw;
    flex-direction: column;
  }
}
.form-content{
  display:flex;
  width:90%;
  margin:20px auto;
  justify-content:center;
  align-items:center;
}
.form-content form{
  display:flex;
  width:50%;
  margin:auto;
  justify-content:center;
  align-items:center;
  padding:50px;
  border-radius:4px;
  border:0.5px solid rgba(0,0,0,0.2);
  flex-direction:column;
}
form h2{
  color:rgb(250, 0, 22);
}
.form-content input,.form-content textarea{
  width:100%;
  padding:5px;
  font-size:1em;
  outline-color:rgb(200, 23, 22);
  outline-width:0.8px;
  border:0.5px solid rgba(0,0,0,0.2);
  border-radius:4px;
  margin-bottom:20px;
  font-family:'Roboto Condensed';
}
.form-content button{
  display:inline-block;
  margin:10px auto;
  color:white;
  background-color:rgb(200, 23, 22);;
  border:none;
  border-radius:4px;
  padding:10px 20px;
  cursor:pointer;
}
.form-content button:hover{
  color:white;
  background-color:rgb(250, 0, 22);;
}
#alert-back{
  transform:scale(0);
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  z-index:2;
  background-color:rgba(0,0,0,0.2);
}
#alert{
  transform:scale(0);
  position:fixed;
  z-index:3;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  width:30vw;
  height:20vw;
  background-color:#5c0000b1;
  border-radius:4px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
#alert h3{
  color:white;
  font-size:1.8em;
}
#alert p{
  color:white;
  font-size:1.3em;
}
#alert button{
  padding:10px 20px;
  border:none;
  color:white;
  font-size:1em;
  border-radius:4px;
  background-color:rgb(255, 40, 40);
  cursor:pointer;
}
#alert button:hover{
  background-color:rgb(253, 20, 20);
}